<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sridh.vdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppBar"
        android:debuggable="true">
        <activity
            android:name=".scrapper"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:clearTaskOnLaunch="true"/>
        <activity
            android:name=".schedule"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppBar.Workspace" />
        <activity
            android:name=".workSpace"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppBar.Workspace"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <receiver android:name=".widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".NotifyService" />
        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".showSubject"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.popupTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".splashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AtBoot"
            android:enabled="true"
            android:exported="true"
            android:label="AtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppBar"></activity>

        <receiver
            android:name=".widgetServiceReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>